.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 26px;
    align-self: stretch;
}

.modalHeader p {
    width: 266px;
    height: 26px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.contentWr {
    position: absolute;
    width: 396px;
    height: 132px;
    left: calc(50% - 396px/2);
    top: calc(50% - 132px/2 - 8.5px);
    background: #FFFFFF;
}

.iconDecor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 80px/2);
    top: calc(50% - 80px/2);
    background: rgba(5, 174, 113, 0.15);
    border-radius: 100px;
}

.btnWr {
    position: absolute;
    bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 396px;
    height: 44px;
    z-index: 1;
}

.btnWr button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 109px;
    height: 44px;
    background: #5558FA;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 400px) {

    .contentWr {
        position: absolute;
        width: 70vw;
        height: 132px;
        left: calc(50% - 70vw/2);
        top: calc(50% - 132px/2 - 8.5px);
    }

    .btnWr button {
        width: 112px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    
}