.wrInner {
    position: absolute;
    width: 900px;
    height: 500px;
    left: calc(50% - 900px/2);
    top: 24px;
    background: #FFFFFF;
    border-radius: 24px;
}

.horizontalLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    height: 8px;
    left: 110px;
    right: 110px;
    top: 66px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.progressLine {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 140px;
    width: 100%;
    height: 8px;
    background: #5558FA;
    border-radius: 8px;
}

.dotActive1 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: -50%;
    background: #5558FA;
    border-radius: 100px;
}

.dotActive2 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: calc(50% - 16px/2);
    top: -50%;
    background: #5558FA;
    border-radius: 100px;
}

.dotActive3 {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0px;
    top: -50%; 
    background: #5558FA;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.dotActive1 svg {
    position: absolute;
    background: transparent;
    border-radius: 0.5px;
    color: white;
}

.dotActive2 svg {
    position: absolute;
    background: transparent;
    color: white;
}

.dotActive3 svg {
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    color: white;
    background-color: transparent;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 336px;
    height: 436px;
    left: 110px;
    top: 176px;
}

.aboutBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 680px;
    height: 136px;
    position: relative;
}

.counter {
    position: absolute;
    bottom: 17%;
    right: 3%;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

.aboutBlock label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;
    width: 680px;
    height: 20px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #333333;
}

.aboutBlock textarea {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 12px 12px 5px;
    gap: 12px;  
    width: 680px;
    height: 84px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    z-index: 1;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
    overflow: hidden;
}

textarea::placeholder {
    width: 656px;
    height: 20px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.48);
    padding-left: 10px;
  }

.submitBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    position: absolute;
    width: 103px;
    height: 44px;
    left: 578px;
    top: 200px;
    background: #5558FA;
    border-radius: 4px;
    color: white;
    border: none;
}

.backBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    position: absolute;
    width: 73px;
    height: 44px;
    left: 110px;
    top: 376px;
    border: 1.5px solid #5558FA;
    border-radius: 4px;
    color: #5558FA;
    background-color: white;
}

nav svg {
    margin-right: 5.6px;
}

.error {
    width: 300px;
    height: 16px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.48);
}

.stepsNumber1 {
    position: absolute;
    width: 9px;
    height: 20px;
    left: 0px;
    top: 26px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5558FA;
}

.stepsNumber2 {
    position: absolute;
    width: 9px;
    height: 20px;
    left: calc(50% - 9px/2);
    top: 26px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #5558FA;
}

.stepsNumber3 {
    position: absolute;
    width: 9px;
    height: 20px;
    right: 0px;
    top: 26px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #5558FA;
}

@media (max-width: 1024px) {

    .wrInner {
        position: relative;
        left: 0;
        top: 0;
        width: 90vw;
    }

    .form {
        width: 70%;
        height: 436px;
    }

    .aboutBlock {
        width: 100%;
    }

    .aboutBlock label {
        width: 100%;
    }
    
    .aboutBlock textarea {
        width: 100%;
    }

    .submitBtn {
        min-width: 99px;
        font-size: 17px;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        position: relative;
        align-self: flex-end;
        top: 36px;
    }

    .form textarea {
        font-size: 18px;
    }

}

@media (max-width: 720px) {

    .wrInner {
        position: relative;
        left: 0;
        top: 0;
        width: 90vw;
        height: 95vh;
    }

    .form {
        left: 5%;
        width: 90%;
    }

    .submitBtn {
        min-width: 99px;
        font-size: 16px;
        margin-top: 20px;
    }

    .submitBtn {
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        position: relative;
        align-self: flex-end;
        top: 332px;
    }
    
    .backBtn {
        left: 25px;
        top: 687px;
    }

    .horizontalLine {
        left: 18px;
        right: 18px;
        top: 66px;
    }
    
    .stepsNumber1 {
        font-size: 16px;
    }

    .stepsNumber2 {
        font-size: 16px;
    }

    .stepsNumber3 {
        font-size: 16px;
    }

}

@media (max-width: 400px) {

    .wrInner {
        position: relative;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .form {
        left: 5%;
        gap: 8px;
        height: 456px;
        top: 150px;
    }

    .form textarea {
        font-size: 16px;
        padding: 8px;
    }
 
    .submitBtn {
        min-width: 99px;
        font-size: 16px;
        margin-top: 0px;
    }

    .submitBtn {
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        position: relative;
        align-self: flex-end;
        top: 268px;
    }
    
    .backBtn {
        left: 30px;
        top: 563px;
    }

    .horizontalLine {
        left: 18px;
        right: 18px;
        top: 36px;
    }
    
    .stepsNumber1 {
        font-size: 16px;
    }

    .stepsNumber2 {
        font-size: 16px;
    }

    .stepsNumber3 {
        font-size: 16px;
    }

}
