.wrInner {
    position: absolute;
    width: 900px;
    height: 800px;
    left: calc(50% - 900px/2);
    top: 24px;
    background: #FFFFFF;
    border-radius: 24px;
}

.horizontalLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    height: 8px;
    left: 110px;
    right: 110px;
    top: 66px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.progressLine {
    position: absolute;
    width: 50%;
    height: 8px;
    background: #5558FA;
    border-radius: 8px;
}

.dotActive1 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: -50%;
    background: #5558FA;
    border-radius: 100px;
}

.dotActive2 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: calc(50% - 16px/2);
    top: -50%;
    background: #5558FA;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.dotActive1 svg {
    position: absolute;
    background: transparent;
    border-radius: 0.5px;
    color: white;
}

.dotActive2 svg {
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    color: white;
    background-color: transparent;
}

.dot2 {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0px;
    top: -50%;
    background: #A6A6A6;
    border-radius: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 336px;
    height: 436px;
    left: 110px;
    top: 176px;
}

.advantagesBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 336px;
}

.advantagesBlock button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 44px;
    height: 44px;
    border: 1.5px solid #5558FA;
    border-radius: 4px;
    background: #FFFFFF;
}

.advantagesBlock label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;
    width: 300px;
    height: 20px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #333333;
}

.advantagesInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 336px;
    height: 44px;
    gap: 12px;
    margin-bottom: 12px;
}

.advantagesInput input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;
    width: 300px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.nameBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 300px;
    height: 96px;
}

.nameBlock label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;
    width: 300px;
    height: 20px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #333333;
}

.nameBlock input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    width: 300px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}



.submitBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    position: absolute;
    width: 73px;
    height: 44px;
    left: 619px;
    top: 520px;
    background: #5558FA;
    border-radius: 4px;
    color: white;
    border: none;
}

.backBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    position: absolute;
    width: 73px;
    height: 44px;
    left: 110px;
    top: 697px;
    border: 1.5px solid #5558FA;
    border-radius: 4px;
    color: #5558FA;
    background-color: white;
}

nav svg {
    margin-right: 5.6px;
}

.error {
    width: 300px;
    height: 16px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.48);
}

.stepsNumber1 {
    position: absolute;
    width: 9px;
    height: 20px;
    left: 0px;
    top: 26px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5558FA;
}

.stepsNumber2 {
    position: absolute;
    width: 9px;
    height: 20px;
    left: calc(50% - 9px/2);
    top: 26px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #5558FA;
}

.stepsNumber3 {
    position: absolute;
    width: 9px;
    height: 20px;
    right: 0px;
    top: 26px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #666666;
}

.checkBoxBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 300px;
    height: 80px;
}

.checkBoxUpLabel {
    width: 300px;
    height: 20px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
    margin: 0;
}

.checkBoxWr label {
    width: 72px;
    height: 20px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.checkBoxWr label:first-child {
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 10px;
    width: 20px;
    height: 20px;
}

.radioBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 300px;
    height: 80px;
}

.radioUpLabel {
    width: 300px;
    height: 20px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
    margin: 0;
}

.radioWr label {
    width: 72px;
    height: 20px;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.radioWr label:first-child {
    display: flex;
    padding: 2px;
    gap: 10px;
    width: 20px;
    height: 20px;
}

@media (max-width: 1024px) {

    .wrInner {
        position: relative;
        left: 0;
        top: 0;
        width: 90vw;
        height: 770px;
    }

    .submitBtn {
        left: 419px;
        top: 520px;
        min-width: 99px;
        font-size: 17px;
    }

    .form input {
        font-size: 18px;
    }

    .form select {
        display: flex;
        align-items: center;
        font-size: 18px;
    }

    .error {
        font-size: 14px;
    }

}

@media (max-width: 720px) {

    .wrInner {
        position: relative;
        left: 0;
        top: 0;
        width: 90vw;
        height: 95vh;
    }

    .form {
        left: 7%;
    }

    .form input {
        font-size: large;
    }
 
    .submitBtn {
        min-width: 99px;
        font-size: 16px;
        margin-top: 20px;
    }

    .submitBtn {
        left: 200px;
        top: 490px;
    }
    
    .backBtn {
        left: 25px;
        top: 687px;
    }

    .horizontalLine {
        left: 18px;
        right: 18px;
        top: 66px;
    }
    
    .stepsNumber1 {
        font-size: 16px;
    }

    .stepsNumber2 {
        font-size: 16px;
    }

    .stepsNumber3 {
        font-size: 16px;
    }

    .form select {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

}

@media (max-width: 400px) {

    .wrInner {
        position: relative;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .form {
        left: 8%;
        gap: 8px;
        height: 456px;
        top: 110px;
    }

    .form input {
        font-size: medium;
        padding: 8px;
    }
 
    .submitBtn {
        min-width: 99px;
        font-size: 16px;
        margin-top: 0px;
    }

    .submitBtn {
        left: 200px;
        top: 450px;
    }
    
    .backBtn {
        left: 30px;
        top: 563px;
    }

    .horizontalLine {
        left: 18px;
        right: 18px;
        top: 36px;
    }
    
    .stepsNumber1 {
        font-size: 16px;
    }

    .stepsNumber2 {
        font-size: 16px;
    }

    .stepsNumber3 {
        font-size: 16px;
    }

    .form select {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}